/* 字体图标声明 */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?8luceq');
  src: url('fonts/icomoon.eot?8luceq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8luceq') format('truetype'),
    url('fonts/icomoon.woff?8luceq') format('woff'),
    url('fonts/icomoon.svg?8luceq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 头部区域start */
.work-header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #525252;
  user-select: none;
}

.work-header .logo {
  position: absolute;
  left: 0;
  top: 0;
}

.work-header .logo a {
  display: inline-block;
  width: 200px;
  height: 50px;
}

.work-header .logo a img {
  width: 100%;
  height: 100%;
}

.work-header .user {
  position: absolute;
  height: 50px;
  right: 50px;
  top: 0;
}

.work-header .user .user-welcome {
  color: #fff;
  padding: 0 5px;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  margin-right: 10px;
  cursor: default;
}

.work-header .user .user-img {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.work-header .user .user-img img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  vertical-align: middle;
}


.work-header .user .user-menu {
  position: absolute;
  top: 45px;
  left: -112px;
  display: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.work-header .user .user-img:hover .user-menu {
  display: block;
  z-index: 99;
}

.work-header .user .user-menu ul li {
  position: relative;
  width: 150px;
  padding: 5px 0;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  background-color: #fff;
  color: #686868;
  cursor: pointer;
}

.work-header .user .user-menu ul li:hover {
  background-color: #E6F7FF;
}

.work-header .user .user-menu ul li:nth-child(1) {
  border-bottom: 2px solid #ccc;
}

.work-header .user .user-menu ul li:nth-child(1)::before,
.work-header .user .user-menu ul li:nth-child(2)::before {
  position: absolute;
  top: 5px;
  left: 20px;
  text-align: center;
  content: '\e994';
  color: #686868;
  font-family: 'icomoon';
}

.work-header .user .user-menu ul li:nth-child(2)::before {
  content: '\ea14';
}

/* 头部区域end */

/* 左侧导航栏start */
.sidebar {
  width: 200px;
  height: 660px;
  background-color: #F1F0F0;
}

.sidebar ul {
  margin-top: 10px;
}

.sidebar ul>li {
  position: relative;
  width: 200px;
  line-height: 50px;
  color: #686868;
  font-size: 20px;
  text-align: left;
  transition: all .3s;
  /* 防止快速连续点击，出现选中文字现象 */
  user-select: none;
}

.sidebar ul>li div:nth-child(1):hover,
.sidebar ul>li ol li:hover {
  color: #030303;
}

/* 字体前面小图标 */
.sidebar ul .nav-task::before,
.sidebar ul .nav-communicate::before,
.sidebar ul .nav-toolbox::before,
.sidebar ul .nav-person::before,
.sidebar ul .nav-suggestion::before {
  display: inline-block;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  content: '\e904';
  font-family: "icomoon";
}

/* 字体后面的按钮 */
.sidebar ul .nav-task i,
.sidebar ul .nav-communicate i,
.sidebar ul .nav-toolbox i,
.sidebar ul .nav-person i,
.sidebar ul .nav-suggestion i {
  position: absolute;
  top: 2px;
  right: 10px;
  font-family: 'icomoon';
  font-size: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar ul .nav-communicate::before {
  content: '\e909';
}

.sidebar ul .nav-toolbox::before {
  content: '\e90e';
}

.sidebar ul .nav-person::before {
  content: '\e971';
}

.sidebar ul .nav-suggestion::before {
  content: '\e90c';
}


/* 子栏目 */
.sidebar>ol {
  position: relative;
}

.sidebar ol>li {
  width: 100%;
  padding: 10px 0 0 40px;
  line-height: 50px;
  color: #686868;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

/* 子栏目字体前面的图标 */
.nav-task-list ol>li:nth-child(1)::before,
.nav-task-list ol>li:nth-child(2)::before,
.nav-toolbox-list ol>li:nth-child(1)::before,
.nav-toolbox-list ol>li:nth-child(2)::before,
.nav-person-list ol>li:nth-child(1)::before,
.nav-person-list ol>li:nth-child(2)::before,
.nav-person-list ol>li:nth-child(3)::before {
  display: inline-block;
  width: 50px;
  text-align: center;
  content: '\e908';
  font-family: 'icomoon';
}

.nav-task-list ol>li:nth-child(2)::before {
  content: '\e907';
}

.nav-toolbox-list ol>li:nth-child(1)::before {
  content: '\e905';
}

.nav-toolbox-list ol>li:nth-child(2)::before {
  content: '\e906';
}

.nav-person-list ol>li:nth-child(1)::before {
  content: '\e90d';
}

.nav-person-list ol>li:nth-child(2)::before {
  content: '\e923';
}

.nav-person-list ol>li:nth-child(3)::before {
  content: '\e90b';
}

/* 控制字体后面按钮变化相应的样式 */
.sidebar ul li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar ul li .list-menu {
  display: none;
}

.sidebar ul li.showMenu .list-menu {
  display: block;
  background-color: #D1D1D1;
}

/* 便签部分 */
.li-note {
  position: relative;
}

.note {
  position: fixed;
  top: 210px;
  left: 210px;
  width: 400px;
  z-index: 9;
}

/* 抵消格式化文件中的斜体设置 */
.note i {
  font-style: italic;
}

.note:nth-of-type(1) {
  display: block;
}

.note>div:nth-of-type(1) {
  background-color: orange;
  line-height: 36px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  cursor: default;
}

.note>div:nth-of-type(1)>span:nth-of-type(1) {
  cursor: pointer;
  color: green;
}

.note>div:nth-of-type(1)>span:nth-of-type(2) {
  cursor: pointer;
  color: red;
}

.note>div:nth-of-type(2) {
  height: 300px;
  background-color: #333333;
  padding: 10px 10px;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
  cursor: text;
  outline: none;
}

.note>div:nth-of-type(3) {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #414141;
  cursor: default;
}

.note>div:nth-of-type(3)>:nth-child(n) {
  font-family: 'icomoon';
  text-align: center;
  padding: 10px;
  margin-right: 5px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  color: #C1C1C1;
  cursor: pointer;
}

.note>div:nth-of-type(3)>:nth-child(n):hover {
  background-color: #3D3D3D;
}

.note>div:nth-of-type(3)>:nth-child(n).showBg {
  background-color: #3D3D3D;
}

/* 左侧导航栏end */
